/*main*/
#content{
	height:500px;
	width:100%;
	background-image:url('background_6grid.jpg');
	background-size:cover;
	background-repeat:repeat;
	background-position: fixed;
	overflow:scroll;
}

.top{
	height:180px;
	width:100%;
	background-image:url('logo2.jpg');
	background-size:cover;
	margin:0 auto;
}	

#navigation{
	height: 38px;
	width:50%;
	background-color:lightblue;
	float:left;
	text-align:left;
}
#navigation1{
	height: 38px;
	width:50%;
	background-color:lightgreen;
	float:right;
	text-align:right;
}

a.nav{
	float: left;
	text-align:left;
}

a.nav1{
	float: right;
	text-align:right;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 16px ;
  text-decoration: none;
}

li a:hover {
  background-color: #c56;
}
 
.resize{
	float:right;
	padding-top:150px;
}

/*footer*/
#footer{
	position:fixed;
	left:0;
	bottom:0;
	height:25px;
	width:100%;
	background-color:lightgreen;
	color:black;
	text-align:left;
	padding-left:6px;
	padding-right:6px;
}

/*login*/ 


#right{
	float:right;
	text-align:right;
}

#left{
	float:left;
	text-align:left;
}

#login_content{
	height:900px;
	width:100%;
	background-color:#F56;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: fixed;
	margin: unset;
}

#login_form{
	height:500px;
	width:600px;
	background-image:url('background_6grid.jpg');
	text-align: center;
	left:650px;
	top:250px;
	margin-top:0;
}

#login_button{
	width:250px;
	height:22px;
	background-color:none;
	margin-top:50px;
	margin-bottom: 10px;
	margin-left:100px;
}

.back{
	margin-left:200px;
	position:fixed;
	top:none;
}

/*signup*/
.signup{
	border-radius: 2px;
	border:#c57;
	font-size:20px;
}

#signup_button{
	display:block;
	width:300px;
	height:22px;
	background-color:none;
	margin-left:30px;
	padding: 14px 28px 30px;
	font-size:20px;
}

#signin_button{
	width:250px;
	height:40px;
	background-color:none;
}

#CS_content{
	height:2500px;
	width:100%;
	background-image:url('background_6grid.jpg');
	background-size:cover;
	background-repeat: no-repeat;
	background-position: fixed;
}
